nav {
  background-color: #f0f0f0;
}
nav ul {
  display: flex;
  margin: 0px;
  padding: 0px;
  list-style: none;
}

nav ul li {
  flex-basis: 0;
  flex-grow: 1;
}

nav ul li a {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  padding: 10px;
  background: #d3d3d3;
  font-size: 0.75rem;
  font-weight: 700;
  text-decoration: none;
  color: #6b6b6b;
}

nav ul li a img {
  max-width: 48px;
  max-height: 48px;
  margin-right: 0.5rem;
  -webkit-filter: grayscale(1);
  filter: grayscale(1);
}
nav ul li a.active {
  background: transparent;
  color: currentColor;
}
button {
  cursor: pointer;
  border: none;
}
button:disabled {
  cursor: not-allowed;
}
nav h1 {
  text-align: center;
  margin: 1rem;
}
/* ------------------- */
.insert-diary-wrapper {
  padding: 10px 0.5rem;
  overflow: hidden;
  /* border-bottom: 1px solid; */
}

.insert-diary-wrapper form {
  display: flex;
  align-items: stretch;
}
.insert-diary-wrapper form > input {
  flex-grow: 1;
  background: transparent;
  border: none;
  font-size: 1.3rem;
  font-family: inherit;
  font-weight: bold;
  padding: 0px 12px;
  min-width: 20px;
  width: 100%;
}
.insert-diary-wrapper form > input::placeholder {
  color: #cac8c8;
}

.insert-diary-wrapper svg {
  width: 32px;
  height: 32px;
}
.insert-diary-wrapper span {
  min-width: 6px;
  background-color: var(--blue);
}

.insert-diary-wrapper button[type="submit"] {
  padding: 4px;
  background-color: transparent;
}
.insert-diary-wrapper button[type="submit"] svg {
  transform: rotate(45deg);
}
.insert-diary-wrapper button[type="submit"]:disabled .arrow-fa {
  fill: #9c9b9b;
}

/* ------------------- */
#history.active body:parent {
  background-color: #333333;
}

span.dot {
  min-width: 12px;
  width: 12px;
  height: 12px;
  border-radius: 50%;
  margin-right: 4px;
  align-self: flex-start;
  margin-top: 4px;
}

/* HOME COMP SIDE SECTION */

.entrySide,
.diarySide {
  padding: 0rem 0px 1rem 0px;

  position: relative;
}

.diarySide {
  flex-basis: 40%;
}
.diarySide .insert-diary-wrapper {
  padding: 8px;
}
.diarySide ul,
.entrySide ul {
  list-style: none;
  /* display: flex; */
  /* flex-direction: column-reverse; */
}
/* EACH ITEM IN UL */
.diaryItem {
  background-color: white;
}
.diaryItem a {
  text-decoration: none;
  color: #333333;
  font-weight: 500;
  display: flex;
  height: 100%;
  padding: 6px;
  align-items: flex-start;
}
.diaryItem span.dot {
  background-color: var(--blue);
}
.diaryItem span.arrow-h {
  width: 26px;
  height: 26px;
  background-color: var(--blue);
  border-radius: 6px;
  justify-content: center;
  align-items: center;
  margin-left: auto;
  display: none;
}
.diaryItem p {
  padding: 0px 1px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.diaryActiveItem {
  background-color: #f3f3f3;
}
.diaryActiveItem span.arrow-h {
  display: flex;
}
.diaryItem span > svg {
  width: 60%;
  height: 60%;
}
/* ENTRY Side */
.entrySide {
  flex-basis: 70%;
  flex-grow: 1;
}
.entrySide ul {
  padding: 0px 1rem;
}
.entrySide ul > * + * {
  margin-top: 12px;
}
.entryItem {
  background-color: var(--bg-light);
  display: flex;
  padding: 6px 8px;
  align-items: flex-start;
}
.entryItem span.dot {
  background-color: var(--darkgray);
}

.content {
  flex-grow: 1;
  background-color: transparent;
}
.content span {
  /* width: 18px; */
  height: 18px;
  display: inline-flex;
  margin-top: 6px;
  color: #a5a5a5;
  align-items: center;
}
.content span > svg {
  width: 16px;
  height: 16px;
  margin-right: 4px;
}
/* Media query  */
@media (min-width: 375px) {
  /*  */
}
@media (min-width: 768px) {
  nav {
    overflow: hidden;
  }
  nav ul li a {
    padding: 15px;
    font-size: 0.875rem;
  }

  .insert-diary-wrapper {
    padding: 8px 1rem;
  }
  .entrySide,
  .diarySide {
    overflow: hidden;
    overflow-y: scroll;
  }
}

@media (max-width: 768px) {
  .diarySide {
    display: none;
  }
  .diarySide-drawer {
    display: unset;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    border: 0;
    background-color: white;
    z-index: 26;
  }
  .diarySide-drawer h4 {
    top: unset;
  }
}

@media (max-width: 375px) {
  /*  */
}
